<script type="text/javascript"> var session_id = '<%= session_id %>';</script>
<script src='/jquery.min.js'></script>
<script src='/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
<link rel="stylesheet" href="/client.css"/>
</head>
<body>
<b>Server: </b><%= server %> <br>
<br/>
<% if(user) { %>
<b>User: </b> <label id="user"><%= user %></label> 
<% } %>


<div id="ask" class="bordered" style="display: none;">
    Name: <input type="text" id="name"/> <a href="#"><span class="join">Join!</span></a>
</div>
<br>
<br>
<% if(session_id) {%>
<b>Session: </b><%= session_id %><br>
<b>Movie: </b><%= movieSession.movie_name %><br>
<b>Creator: </b><%= movieSession.user %><br><br>
<div id="channel" class="bordered" style="display: none;">
    <div id="input">
       <button class="action" id="play"> Play </button>
       <button class="action" id="pause"> Pause </button>
    </div>
    <div id="msgs">
        <h4>Server: <%= server %></h4>

        <ul>
            <li class="message" style="display: none">
                <span class="message"></span>
            </li>
        </ul>
    </div>
</div>
<% } else {%>
<div id="channel" class="bordered" style="">
    <ul>
      <% for (var i = 0; i < movies.length; i++) { %>
        <li> <%= movies[i].data.movie_name %> <a href="stream/<%= movies[i].key %>" >stream</a></li>
      <% }; %>
    </ul>
</div>
<% } %>

</body>
</html>